spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5432/JDE
    username: root
    password: justdoeat
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  secret: qwerasdfzxcv123456789qwerasdfzxcv123456789qwerasdfzxcv123456789qwerasdfzxcv123456789
  access-token-validity: 90000000
  refresh-token-validity: 10800000

logging:
  level:
    org.springframework.data.repository.config: warn
    org.hibernate.SQL: info